/assets/foods
/assets/animals
/assets/letters
/assets/numbers
/assets/colors
/assets/shapes

/bin
/gen
/.idea/
/app/.idea/
/.gradle
/gradle
/build
/app/build
*.db
*.classpath
*.jar
*.project
*.prefs
*.properties

proguard*